* {
  font-family: "Roboto";
}

.header {
  height: 65px;
  /* box-shadow: #0099ff 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white;
}

.header1 {
  height: 100%;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header1 div:first-child {
  /*  cho div đầu tiên trong lớp header1 */
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header1 .input {
  height: 25px;
  width: 300px;
  margin-left: 150px;
  display: flex;
  align-items: center;
  background-color: #0099ff;
  padding: 2px;
}

.h1-header {
  font-family: "Roboto";
  display: flex;
  align-items: center;
  background: url("https://images.unsplash.com/photo-1579546929518-9e396f3cc809?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8fA%3D%3D");
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.header1 div:first-child input {
  width: 90%;
  height: 95%;
  border: none;
}

.header1 .user {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Done header */

.panel {
  margin-top: 0cm;
  width: 100%;
  background-color: rgb(105, 179, 180);
  height: auto;
  justify-content: space-between;
  align-items: center;
}

.panel-content {
  height: 100%;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.panel-content-left {
  width: 35%;
}

.panel-content-right {
  flex-grow: initial;
  margin-left: 150px;
}

.main {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}

.policy {
  height: auto;
  width: 100%;
  /* margin-top: auto; */
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  /* padding: 0px 98px; */
  margin-top: 15px;
}

.policy-option {
  height: 100%;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.trending {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  margin-top: 15px;
  background-color: #eaeaea;
  padding-bottom: 10px;
}

.trending-product {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.list-product {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  /* background-image: url("https://www.shutterstock.com/image-photo/blurred-shadow-palm-leaves-on-600nw-2261327067.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; */
}

.box-product {
  width: 22%;
  border: 1px solid rgba(231, 178, 208, 0.584);
  border-radius: 10px;
  padding: 10px;
  
}

.slide-box-product {
  padding: 20px;
  border: 1px solid #ddd;
  /* text-align: center; */
  box-sizing: border-box; 
}
.slide-box-product img {
  width: 98%;
  height: 190px;
  object-fit: cover;
}


.box-product img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.banner {
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  /* margin-top: 10px; */
  background-color: #eaeaea;
}

.banner-content {
  background-color: rgb(205, 200, 206);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.banner-content-left {
  width: 50%;
}

.banner-content-right {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  background-color: #eaeaea;
  padding-bottom: 10px;
}

.new-product {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.list-new-product {
  display: flex;
  gap: 13px;
  flex-wrap: wrap;
}

.box-product p {
  margin: 0;
}

.box-product h4 {
  margin: 0;
}

.footer {
  height: auto;
  width: 88%;
  margin: auto;
  margin-top: 10px;
  display: flex;
  gap: 83px;
  background-color: #ffffff;
}

.list-cart {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  flex-direction: column;
  margin-top: 5px;
}

.box-cart {
  width: 100%;
  height: auto;
  border-bottom: 1px solid gray;
  display: flex;
  flex-direction: row;
  margin: 6px;
}

.box-cart p {
  margin: 0;
  margin-left: 2px;
  font-size: 15px;
  font-weight: 400;
  font-family: "Roboto";
}

.detail {
  height: auto;
  /* display: flex; */
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  padding: 0 100px;
  margin-top: 15px;
  /* background-color: rgb(69, 102, 223); */
}

.detail-content {
  height: auto;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  /* align-items: center; */
  margin: auto;
  gap: 20px;
}

.buttonPageDetail {
  display: flex;
  gap: 10px;
}

.allProduct {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  padding: 0 100px;
  margin-top: 5px;
  background-color: rgb(224, 227, 227);
}

.wishlist {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  margin-top: 4px;
  background-color: antiquewhite;
}

.wishlist-product {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
  width: 100%;
  gap: 10px;
}

.checkOut {
  width: 90%;
  height: auto;
  margin: auto;
}

.slideProduct {
  width: 90%;
  height: auto;
  margin: auto;
  padding: 40px 20px ;
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; */
}

/* Slide */
/* .each-slide-effect > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 350px;
}

.slick-prev:before, .slick-next:before {
  color: white;
} */
